/* --------------
   ---- MAIN ----
   -------------- */
main {
    background-color: var(--background-main);
    flex: 1;
    min-height: 0; 
}

main h1 {
    color: var(--color-greenLight-dark);
}

.layout {
    display: flex;
    align-items: center;
    justify-content: center;
}

