:root {
    --background-main: rgb(36, 53, 99);
    --menu-link: rgb(187, 185, 185);
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100dvw;
    height: 100dvh;
    display: grid;
    grid-template-rows: 15% 70% 15%;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

/* ----------------
   ---- HEADER ----
   ---------------- */

header {
    background-color: mediumpurple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu ul {
    margin-top: 15px;
    display: flex;
    gap: 15px;
}

.menu li {
    list-style: none;
    font-size: 1.1em;
}

.menu a {
    text-decoration: none;
}

.menu a:visited {
    color: var(--menu-link);
}

/* ----------------
   ---- FOOTER ----
   ---------------- */
footer {
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
}